*.html
*.mo
*/*/output.txt
*/synthetic_case_daily/err_stats.txt
*/synthetic_case_daily/par.txt
*/synthetic_case_monthly/par.txt
*/synthetic_case_weekly/par.txt

.spyproject
.idea
venv

build
build_fr
dist
okplm.egg-info
okplm/__pycache__
tests/__pycache__

sphinx-doc/build/*
